src/Agendamento Carga Solta SGIPA/UI/Web References/WsSharepoint/wsiccsharepoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarImagemDocAverbacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="averbacaoDocumento" type="tns:ImagemAverbacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImagemAverbacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Autonum" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Lote" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AutonumAgendamento" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataInclusao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CaminhoImagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeImagem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoDocUpload" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrTipoDocUpload" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_byteArrayImagem" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarImagemDocAverbacaoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterImagemDocAverbacaoPorLote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lote" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterImagemDocAverbacaoPorLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterImagemDocAverbacaoPorLoteResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterImagemDocAverbacaoPorLoteEautonum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lote" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="autonum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterImagemDocAverbacaoPorLoteEautonumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterImagemDocAverbacaoPorLoteEautonumResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirImagemDocAverbacaoPorLoteEautonum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lote" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="autonum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirImagemDocAverbacaoPorLoteEautonumResponse">
        <s:complexType />
      </s:element>
      <s:element name="ObterInformacaoDasImagensGravadasNoSharepoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lote" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterInformacaoDasImagensGravadasNoSharepointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterInformacaoDasImagensGravadasNoSharepointResult" type="tns:ArrayOfImagemAverbacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImagemAverbacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImagemAverbacao" nillable="true" type="tns:ImagemAverbacao" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObterInformacaoDasImagensGravadasNoSharepointPorData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataFinal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterInformacaoDasImagensGravadasNoSharepointPorDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObterInformacaoDasImagensGravadasNoSharepointPorDataResult" type="tns:ArrayOfImagemAverbacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarImagemDocAverbacaoSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarImagemDocAverbacao" />
  </wsdl:message>
  <wsdl:message name="EnviarImagemDocAverbacaoSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarImagemDocAverbacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ObterImagemDocAverbacaoPorLoteSoapIn">
    <wsdl:part name="parameters" element="tns:ObterImagemDocAverbacaoPorLote" />
  </wsdl:message>
  <wsdl:message name="ObterImagemDocAverbacaoPorLoteSoapOut">
    <wsdl:part name="parameters" element="tns:ObterImagemDocAverbacaoPorLoteResponse" />
  </wsdl:message>
  <wsdl:message name="ObterImagemDocAverbacaoPorLoteEautonumSoapIn">
    <wsdl:part name="parameters" element="tns:ObterImagemDocAverbacaoPorLoteEautonum" />
  </wsdl:message>
  <wsdl:message name="ObterImagemDocAverbacaoPorLoteEautonumSoapOut">
    <wsdl:part name="parameters" element="tns:ObterImagemDocAverbacaoPorLoteEautonumResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirImagemDocAverbacaoPorLoteEautonumSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirImagemDocAverbacaoPorLoteEautonum" />
  </wsdl:message>
  <wsdl:message name="ExcluirImagemDocAverbacaoPorLoteEautonumSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirImagemDocAverbacaoPorLoteEautonumResponse" />
  </wsdl:message>
  <wsdl:message name="ObterInformacaoDasImagensGravadasNoSharepointSoapIn">
    <wsdl:part name="parameters" element="tns:ObterInformacaoDasImagensGravadasNoSharepoint" />
  </wsdl:message>
  <wsdl:message name="ObterInformacaoDasImagensGravadasNoSharepointSoapOut">
    <wsdl:part name="parameters" element="tns:ObterInformacaoDasImagensGravadasNoSharepointResponse" />
  </wsdl:message>
  <wsdl:message name="ObterInformacaoDasImagensGravadasNoSharepointPorDataSoapIn">
    <wsdl:part name="parameters" element="tns:ObterInformacaoDasImagensGravadasNoSharepointPorData" />
  </wsdl:message>
  <wsdl:message name="ObterInformacaoDasImagensGravadasNoSharepointPorDataSoapOut">
    <wsdl:part name="parameters" element="tns:ObterInformacaoDasImagensGravadasNoSharepointPorDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WsIccSharepointSoap">
    <wsdl:operation name="EnviarImagemDocAverbacao">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Grava os dados da Imagem na TB_AV_IMAGEM e grava as imagens no GED - Sharepoint</wsdl:documentation>
      <wsdl:input message="tns:EnviarImagemDocAverbacaoSoapIn" />
      <wsdl:output message="tns:EnviarImagemDocAverbacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterImagemDocAverbacaoPorLote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna a imagem do documento de acordo com o lote da tabela TB_AV_IMAGEM</wsdl:documentation>
      <wsdl:input message="tns:ObterImagemDocAverbacaoPorLoteSoapIn" />
      <wsdl:output message="tns:ObterImagemDocAverbacaoPorLoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterImagemDocAverbacaoPorLoteEautonum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna a imagem do documento de acordo com o lote e autonum da imagem da tabela TB_AV_IMAGEM</wsdl:documentation>
      <wsdl:input message="tns:ObterImagemDocAverbacaoPorLoteEautonumSoapIn" />
      <wsdl:output message="tns:ObterImagemDocAverbacaoPorLoteEautonumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirImagemDocAverbacaoPorLoteEautonum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deleta a imagem do documento de acordo com o lote e autonum da imagem da tabela TB_AV_IMAGEM</wsdl:documentation>
      <wsdl:input message="tns:ExcluirImagemDocAverbacaoPorLoteEautonumSoapIn" />
      <wsdl:output message="tns:ExcluirImagemDocAverbacaoPorLoteEautonumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoDasImagensGravadasNoSharepoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna o Lista com os dados das imagens gravadas no sharepoint de acordo com o lote</wsdl:documentation>
      <wsdl:input message="tns:ObterInformacaoDasImagensGravadasNoSharepointSoapIn" />
      <wsdl:output message="tns:ObterInformacaoDasImagensGravadasNoSharepointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoDasImagensGravadasNoSharepointPorData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna o Lista com os dados das imagens gravadas no sharepoint de acordo com o lote</wsdl:documentation>
      <wsdl:input message="tns:ObterInformacaoDasImagensGravadasNoSharepointPorDataSoapIn" />
      <wsdl:output message="tns:ObterInformacaoDasImagensGravadasNoSharepointPorDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsIccSharepointSoap" type="tns:WsIccSharepointSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarImagemDocAverbacao">
      <soap:operation soapAction="http://tempuri.org/EnviarImagemDocAverbacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterImagemDocAverbacaoPorLote">
      <soap:operation soapAction="http://tempuri.org/ObterImagemDocAverbacaoPorLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterImagemDocAverbacaoPorLoteEautonum">
      <soap:operation soapAction="http://tempuri.org/ObterImagemDocAverbacaoPorLoteEautonum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirImagemDocAverbacaoPorLoteEautonum">
      <soap:operation soapAction="http://tempuri.org/ExcluirImagemDocAverbacaoPorLoteEautonum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoDasImagensGravadasNoSharepoint">
      <soap:operation soapAction="http://tempuri.org/ObterInformacaoDasImagensGravadasNoSharepoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoDasImagensGravadasNoSharepointPorData">
      <soap:operation soapAction="http://tempuri.org/ObterInformacaoDasImagensGravadasNoSharepointPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsIccSharepointSoap12" type="tns:WsIccSharepointSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarImagemDocAverbacao">
      <soap12:operation soapAction="http://tempuri.org/EnviarImagemDocAverbacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterImagemDocAverbacaoPorLote">
      <soap12:operation soapAction="http://tempuri.org/ObterImagemDocAverbacaoPorLote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterImagemDocAverbacaoPorLoteEautonum">
      <soap12:operation soapAction="http://tempuri.org/ObterImagemDocAverbacaoPorLoteEautonum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirImagemDocAverbacaoPorLoteEautonum">
      <soap12:operation soapAction="http://tempuri.org/ExcluirImagemDocAverbacaoPorLoteEautonum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoDasImagensGravadasNoSharepoint">
      <soap12:operation soapAction="http://tempuri.org/ObterInformacaoDasImagensGravadasNoSharepoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterInformacaoDasImagensGravadasNoSharepointPorData">
      <soap12:operation soapAction="http://tempuri.org/ObterInformacaoDasImagensGravadasNoSharepointPorData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsIccSharepoint">
    <wsdl:port name="WsIccSharepointSoap" binding="tns:WsIccSharepointSoap">
      <soap:address location="http://homop.ecoportosantos.com.br:5055/wsiccsharepoint.asmx" />
    </wsdl:port>
    <wsdl:port name="WsIccSharepointSoap12" binding="tns:WsIccSharepointSoap12">
      <soap12:address location="http://homop.ecoportosantos.com.br:5055/wsiccsharepoint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>